<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{fragments/layout}"
		 > <!-- layout:decorate="~{fragments/layout}"	fragments 폴더 안에 layout 렌더링 -->
<head>
<meta charset="UTF-8">
<title>Edit</title>
</head>
<body>
<!-- layout.html	<th:block layout:fragment="content"/> -->
	<div layout:fragment="content">
	<h2 class="container my-5">Edit</h2>
	<div class="container p-3 my-5 border">edit
		<h3 th:text="${dto}"></h3>
	</div>
	</div>
</body>
</html>
<!-- http://localhost:8080/boot3/test 호출 -->
<!-- http://localhost:8080/test 호출 -->